.nav {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color: #800020;
    padding: 1rem;
}

.links {
    display: flex;
    gap: 1rem; 
}

a {
    font-size: large;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}